body {font-family:"source code pro";
    width: 100vh;
    height: 100vh;
 margin:0px;

 background-size: cover;
 cursor: cell;
}



.one {
    position:absolute;
    transition: width 2s, height 3s;
    width:60%;
    height: 45%;
    padding: 0px;
    margin: 0px;
    border-top-right-radius: 20px solid rgb(12, 0, 67);
    border-bottom-right-radius: 135px;
    border: 1px solid rgba(243, 238, 238, 0.287);
    background-color: rgba(221, 212, 212, 0.45);
    box-shadow: blur(10px);
    box-shadow: 0 10px 50px 0 rgba(41, 48, 41, 0.448);
    text-align: center;
}
 .two{position:absolute;
    width: 50%;
    padding: 0px;
    margin: 0px;
    top: 70%;
    text-align:center;
    transition: width 3s , height 3s, transform 2ms ; 
    border-top-right-radius: 13px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;
    border: 1px solid rgba(243, 238, 238, 0.287);
    background-color: rgba(221, 212, 212, 0.45);
    box-shadow: blur(10px);
    box-shadow: 0 10px 50px 0 rgba(13, 14, 13, 0.422);
   

 }

 .side{
     position:absolute;
     width: 20%;
     height: 100%;
     border: 2px solid slateblue;
     right: 1px ;
     transition: width 3s, height 3s, transform 3s;

 }

 
  img{
      width: 100%;
  }

.center{
position:relative;
height: 0;
width: 20%;
transition: width 2s, height 2s, transform 0.5s;
padding-bottom: 20%;
left: 70%;
border: 3px solid rgba(173, 168, 168, 0.274);
border-radius: 50%;
box-shadow:  inset 0 0 50px rgb(195, 6, 6),      
            inset 20px 0 80px rgba(21, 50, 237, 0.641),   
            inset -20px 0 80px #0ff,  
            inset 20px 0 300px rgba(27, 14, 213, 0.497),  
            inset -20px 0 300px rgb(211, 224, 224), 
0 0 50px #fff,            
-10px 0 80px rgba(133, 15, 250, 0.516),        
10px 0 80px #0ff; 
}

.center:hover{
    transform: rotate(360deg);
    box-shadow:  inset 0 0 50px rgb(237, 228, 228),      
            inset 20px 0 80px rgba(21, 50, 237, 0.641),   
            inset -20px 0 80px #ebf7f7,  
            inset 20px 0 300px rgba(27, 14, 213, 0.497),  
            inset -20px 0 300px rgb(211, 224, 224), 
0 0 50px #fff,            
-10px 0 80px rgba(133, 15, 250, 0.516),        
10px 0 80px #0ff; 
    
}
    
.one:hover{
     width: 70%;
     height: 70%;
     background-color: rgba(181, 186, 203, 0.795);
     border-bottom-width: 2px;
     border-style:dotted;
     border-bottom-color: rgba(226, 14, 14, 0.618);
     box-shadow: 0 10px 50px 0 rgba(31, 169, 207, 0.551);
}
 .two:hover{
     width:70%;
     background-color: rgba(181, 186, 203, 0.795);
     border-top-width: 2px;
     border-style:dotted;
     border-top-color: rgba(83, 103, 152, 0.714);
     text-size-adjust: 20px;
     box-shadow:  inset 0 0 50px rgb(237, 228, 228),      
     inset 20px 0 80px rgba(21, 50, 237, 0.641),   
     inset -20px 0 80px #ebf7f7,  
     inset 20px 0 300px rgba(139, 135, 183, 0.497),  
     inset -20px 0 300px rgb(211, 224, 224), 
0 0 50px #fff,            
-10px 0 80px rgba(130, 105, 155, 0.516),        
10px 0 80px #0ff; 

     
 }
.side:hover{ box-shadow:  inset 0 0 50px rgb(237, 228, 228),      
    inset 20px 0 80px rgba(18, 152, 83, 0.641),   
    inset -20px 0 80px #ebf7f7,  
    inset 20px 0 300px rgba(139, 135, 183, 0.497),  
    inset -20px 0 300px rgb(211, 224, 224), 
0 0 50px #fff,            
-10px 0 80px rgba(221, 15, 179, 0.635),        
10px 0 80px #0ff; 
   
}
 
 